:host {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

  .heading-1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
  }
}
