:host {
  .task-wrapper {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
  }

  .task-content {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .action-buttons {
    display: flex;
    gap: 8px;
  }
}
