<div class="wrapper">
  <h1 class="heading-1">My Todo List</h1>
  <div class="todo-container">

    <div [ngClass]="{ 'todo-container': true }">
      <ng-container *ngIf="!editing">
        <button mat-raised-button
                color="primary"
                class="add-button"
                (click)="addTask()"
        >Add task
        </button>
      </ng-container>

      <ng-container *ngIf="editing">
        <button mat-raised-button
                color="primary"
                class="add-button"
                (click)="saveChanges()"
        >Save</button>
        <button mat-stroked-button
                class="add-button"
                (click)="cancel()"
        >Cancel</button>
      </ng-container>
    </div>


    <div class="task-list">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let task of taskList">
          <mat-expansion-panel-header>
            <mat-panel-title >
                {{task.title}}
              <ng-template matExpansionPanelContent>
                <button mat-stroked-button color="primary" (click)="editTask(task.id)">edit</button>
                <button mat-stroked-button color="warn" (click)="removeTask(task.id)" events>remove</button>
              </ng-template>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container>
            <mat-panel-description>
              {{task.description}}
            </mat-panel-description>
          </ng-container>
        </mat-expansion-panel>

      </mat-accordion>

    </div>
  </div>
</div>



