<div class="dialog-wrapper">
  <div class="mat-h2">Create task</div>

  <form [formGroup]="taskForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [formControl]="taskForm.controls.title">
      <mat-error *ngIf="taskForm.controls.title.hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="taskForm.controls.title.hasError('title')">
        Title must contain first uppercase symbol and last symbol - point
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [formControl]="taskForm.controls.description"></textarea>
      <mat-error *ngIf="taskForm.controls.description.hasError('maxlength')">
        Max length is 50 chars
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Assignee</mat-label>
      <mat-select [formControl]="taskForm.controls.assignee">
        <mat-option *ngFor="let user of data.users" [value]="user">
          {{user}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taskForm.controls.assignee.hasError('required')">
        Assignee is required
      </mat-error>
    </mat-form-field>

      <mat-checkbox [formControl]="taskForm.controls.isUrgent">
        Urgent
      </mat-checkbox>
  </form>

  <div class="dialog-footer">
    <button mat-flat-button
            (click)="cancel()"
    >Cancel</button>

    <button mat-flat-button
            color="primary"
            [disabled]="taskForm.pristine || taskForm.invalid"
            (click)="save()"
    >Save</button>
  </div>
</div>
