:host {
  .dialog-wrapper {
    padding: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
